---
const { variant = "", extraClasses = "", ...rest } = Astro.props;
import styles from "../../styles/components/ui/button.module.css";

const variants = {
  primary: styles.primary,
  secondary: styles.secondary,
  thirdary: styles.thirdary,
  fourthary: styles.fourthary,
};
---

<a
  class={`${styles.button} ${variants[variant as keyof typeof variants]} ${extraClasses}`}
  {...rest}
>
  <slot />
</a>
